.tableproduct {
    display: flex !important;
    text-align: center !important;
}
.imagen {
    width: 8rem !important;
    object-fit: contain !important;
    border-radius: 6px !important;
    margin-right: 20px !important;
}

.table {
    min-height: 20vh !important;
    max-width: 1000px !important;
    margin: 0 auto !important;
    width: 100% !important;
    
}

.amount {
    width: 40px !important;
    border: none !important;
    outline: 0 !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    margin-right: 30px !important ;
    margin-bottom: 20px !important;
    
}
.delete {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}